section {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 119px);

    app-aside {
        max-height: calc(100vh - 119px);
    }
    app-product-view {
        width: 100%;
    }
}