<app-header 
  (update)="updateView()"
  (updateCurrency)="updateCurrency($event)"
  [allCurrencies$]="allCurrencies$">
</app-header>
<section>
  <app-aside [allCategories$]="allCategories$"
  (currentCategory)="setCurrentCategory($event)"
  (update)="updateView()"></app-aside>
  <app-product-view 
    (update)="updateView()"
    [allProducts$]="allProducts$" 
    [allCurrencies$]="allCurrencies$"
    [currentCategory]="currentCategory"
    [currentCurrency]="currentCurrency"
    [currentExchangeRate]="currentExchangeRate"></app-product-view>
</section>
