:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid #3f51b5;
    padding: 8px 15px;

    h1 {
        color: #3f51b5;
        font-size: 24px;
        font-weight: 500;
        margin-left: 20px;
    }

    div.optionWrapper {
        margin-left: auto;
        display: flex;
        flex-direction: row;

        mat-form-field {
            margin-right: 30px;
        }

        div {
            display: flex;
            flex-direction: column;
    
            button:first-child{
                margin-bottom: 6px;
            }
        }
        
    }
}