<img src="../../../assets/logo.svg" alt="Logo" width="100" height="100">
<h1>Product Explorer</h1>
<div class="optionWrapper">
    <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select [(value)]="selectedCurrency" (selectionChange)="selectCurrency()">
            <mat-option *ngFor="let currency of allCurrencies" [value]="currency">
            {{currency}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" (click)="createCategoryDialog()">Create Category</button>
        <button mat-raised-button color="primary" (click)="createProductDialog()">Create Product</button>
    </div>
</div>
