mat-list {
    padding: 0 20px;
    max-height: calc(100vh - 119px);
    overflow: auto;

    mat-list-item {
        margin-bottom: 5px;
        border-bottom: 1px solid #3f51b5;

        span, fa-icon {
            margin-right: 12px;
        }

        span {
            flex: 19;
        }

        fa-icon {
            cursor: pointer;
            flex: 1;
        }

        &:first-child {
            margin-top: 20px;
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }
} 