<mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let product of currentProducts">
        <span>{{product.productName}}</span>
        <span>{{product.euroPrice | convertfromeuro:currentExchangeRate | currency:currentCurrency}}</span>
        <fa-icon (click)="editProductDialog(product.productId, product.productName, product.categoryId, product.euroPrice)" [icon]="faEdit"></fa-icon>
        <fa-icon (click)="deleteProductDialog(product.productId)" [icon]="faTrashAlt"></fa-icon>
    </mat-list-item>
</mat-list>