<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content *ngIf="data.type === 'createCategory'">
    <p>{{data.text}}</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.inputAValue">
    </mat-form-field>
</div>
<div mat-dialog-actions *ngIf="data.type === 'createCategory'">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="data.inputAValue.length > 2" 
        mat-button 
        [mat-dialog-close]="data.inputAValue" 
        cdkFocusInitial>
        Ok
    </button>
</div>

<div mat-dialog-content *ngIf="data.type === 'createProduct'">
    <p>{{data.text}}</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.inputAValue">
    </mat-form-field>
    <p>{{data.textB}}</p>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select [(value)]="data.inputBValue">
            <mat-option *ngFor="let category of currentCategories" [value]="category.categoryId">
            {{category.categoryName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <p>{{data.textC}}</p>
    <mat-form-field class="currency-select">
        <input type="number" matInput [(ngModel)]="data.inputCValue">
        <mat-select [(value)]="data.curr">
            <mat-option *ngFor="let currency of availableCurrencies" [value]="currency">
            {{currency}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions *ngIf="data.type === 'createProduct'">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="data.inputAValue.length > 2 && data.inputBValue.length > 10 && data.inputCValue != 0" 
        mat-button 
        [mat-dialog-close]="[data.inputAValue, data.inputBValue, data.inputCValue, data.curr]" 
        cdkFocusInitial>
        Ok
    </button>
</div>

<div mat-dialog-content *ngIf="data.type === 'deleteProduct'">
    <p>{{data.text}}</p>
</div>
<div mat-dialog-actions *ngIf="data.type === 'deleteProduct'">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button 
        [mat-dialog-close]="data.productId" 
        cdkFocusInitial>
        Ok
    </button>
</div>

<div mat-dialog-content *ngIf="data.type === 'editProduct'">
    <p>{{data.text}}</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.inputAValue">
    </mat-form-field>
    <p>{{data.textB}}</p>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select [(value)]="data.inputBValue">
            <mat-option *ngFor="let category of currentCategories" [value]="category.categoryId">
            {{category.categoryName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <p>{{data.textC}}</p>
    <mat-form-field class="currency-select">
        <input type="number" matInput [(ngModel)]="data.inputCValue">
        <mat-select [(value)]="data.curr">
            <mat-option *ngFor="let currency of availableCurrencies" [value]="currency">
            {{currency}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions *ngIf="data.type === 'editProduct'">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="data.inputAValue.length > 2 && data.inputBValue.length > 10 && data.inputCValue != 0" 
        mat-button 
        [mat-dialog-close]="[data.inputAValue, data.inputBValue, data.inputCValue, data.curr]" 
        cdkFocusInitial>
        Ok
    </button>
</div>


<div mat-dialog-content *ngIf="data.type === 'editCategory'">
    <p>{{data.text}}</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.inputAValue">
    </mat-form-field>
</div>
<div mat-dialog-actions *ngIf="data.type === 'editCategory'">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="data.inputAValue.length > 2" 
        mat-button 
        [mat-dialog-close]="data.inputAValue" 
        cdkFocusInitial>
        Ok
    </button>
</div>

<div mat-dialog-content *ngIf="data.type === 'deleteCategoryFailed' || data.type === 'duplicateName'">
    <p>{{data.text}}</p>
</div>
<div mat-dialog-actions *ngIf="data.type === 'deleteCategoryFailed' || data.type === 'duplicateName'">
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>

<div mat-dialog-content *ngIf="data.type === 'deleteCategory'">
    <p>{{data.text}}</p>
</div>
<div mat-dialog-actions *ngIf="data.type === 'deleteCategory'">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button 
        [mat-dialog-close]="data.categoryId" 
        cdkFocusInitial>
        Ok
    </button>
</div>

