@import '@angular/material/prebuilt-themes/indigo-pink.css';

p {
    margin-bottom: 6px;
}

mat-form-field {
    margin-top: -25px;

    &.mat-form-field-type-mat-select {
        margin-top: -5px;
    }

    &.currency-select {
        input {
            max-width: 140px;
        }
        mat-select {
            max-width: 40px;
        }
    }
}