<ul>
    <li (click)="selectCategory('all')" [ngClass]="{'active' : selectedCategory === 'all'}">All Products</li>
    <li>
        Categories 
        <fa-icon *ngIf="!editMode" (click)="toggleEditMode()" [icon]="faPencilAlt"></fa-icon>
        <fa-icon *ngIf="editMode" (click)="toggleEditMode()" [icon]="faTimes"></fa-icon>
    </li>
    <li *ngFor="let category of allCategories$" 
        (click)="selectCategory(category.categoryId)"
        [ngClass]="{'active' : selectedCategory === category.categoryId, 'edit-mode' : editMode}">
        {{category.categoryName | titlecase}}
        <fa-icon *ngIf="editMode" (click)="editCategoryDialog(category.categoryId, category.categoryName)" [icon]="faEdit"></fa-icon>
        <fa-icon *ngIf="editMode" (click)="deleteCategoryDialog(category.categoryId)" [icon]="faTrashAlt"></fa-icon>
    </li>
</ul>