ul {
    list-style-type: none;
    height: 100%;
    border-right: 3px solid #3f51b5;
    min-width: 180px;
    padding: 0 35px 0 8px;
    overflow-y: auto;

    li {
        margin-bottom: 10px;
        line-height: 17px;

        &:not(:nth-child(2)) {
            cursor: pointer;
        }

        &:first-child {
            margin-top: 18px;
            margin-bottom: 15px;

            &.active {
                margin-bottom: 14px;
            }
        }

        &:nth-child(2) {
            font-weight: 500;

            fa-icon {
                cursor: pointer;
            }
        }

        &.active {
            margin-bottom: 9px;
            border-bottom: 1px solid #3f51b5;
        }

        &.edit-mode fa-icon {
            margin-left: 8px;
        }
    }
}
  